In [6]:
import pandas as pd

df = pd.read_csv('/home/edu/Downloads/농림업생산지수_2020100__20240315172347.csv', encoding='utf-8')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   품목별(1)  181 non-null    object
 1   품목별(2)  181 non-null    object
 2   품목별(3)  181 non-null    object
 3   품목별(4)  181 non-null    object
 4   품목별(5)  181 non-null    object
 5   품목별(6)  181 non-null    object
 6   품목별(7)  181 non-null    object
 7   품목별(8)  181 non-null    object
 8   1990    181 non-null    object
 9   1990.1  181 non-null    object
 10  1995    181 non-null    object
 11  1995.1  181 non-null    object
 12  2000    181 non-null    object
 13  2000.1  181 non-null    object
 14  2005    181 non-null    object
 15  2005.1  181 non-null    object
 16  2010    181 non-null    object
 17  2010.1  181 non-null    object
 18  2015    181 non-null    object
 19  2015.1  181 non-null    object
 20  2020    181 non-null    object
 21  2020.1  181 non-null    object
dtypes: object(22)
memory usage: 31.2+ KB

In [7]:
df.head()

,품목별(1),품목별(2),품목별(3),품목별(4),품목별(5),품목별(6),품목별(7),품목별(8),1990,1990.1,...,2000,2000.1,2005,2005.1,2010,2010.1,2015,2015.1,2020,2020.1
0,품목별(1),품목별(2),품목별(3),품목별(4),품목별(5),품목별(6),품목별(7),품목별(8),생산지수,생산금액 (십억원),...,생산지수,생산금액 (십억원),생산지수,생산금액 (십억원),생산지수,생산금액 (십억원),생산지수,생산금액 (십억원),생산지수,생산금액 (십억원)
1,농림업,농업,농업총계,소계,소계,소계,소계,소계,81.7,17859.8,...,101.3,31967.8,99.2,35088.9,104.7,45724,102,48470.9,96.5,50173
2,농림업,농업,농업총계,재배업,소계,소계,소계,소계,104.6,13906.6,...,120.6,23885.3,115.9,23321.7,112.4,28252.7,109.7,29259.3,94.8,29807
3,농림업,농업,농업총계,재배업,식량작물,소계,소계,소계,152.3,7405.3,...,136.2,11435.5,128.8,9738.3,111.7,8528.8,111.5,9413.3,93.8,10481.2
4,농림업,농업,농업총계,재배업,식량작물,미곡,소계,소계,151.1,6538,...,142.6,10504.6,128.5,8536.8,115.8,6787.4,116.6,7697.2,94.5,8448.7